  <nav data-aos="flip-down" class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/5.png" alt="Logo" width="80" height="40">
      </a>
      <a href="#" class="btn custom-btn">SEARCH</a>
    </div>
  </nav>

  <div class="main-container">
    <!-- <h1 class="definition">What is Slurp?</h1> -->
    <div data-aos="fade-right" class="card">
      <div class="card-body">
        <h5 class="card-title">WINE, DINE and PARTY much?</h5>
        <div class="img-container">
          <p class="card-text">We got you covered! <br> You get to have all the fun, with us taking care of it.</p>
          <img class="card-image" src="../../assets/icons8-champagne-80.png" alt="">
        </div>
      </div>
    </div>

    <div data-aos="fade-left" class="card">
      <div class="card-body">
        <h5 class="card-title">Student, Graduate or Professional </h5>
        <div class="img-container">
          <p class="card-text">It doesn't matter who you are or what you do, <br> all you need is a social profile.</p>
          <img class="card-image" src="../../assets/icons8-college-80.png" alt="">
        </div>
      </div>
    </div>

    <div data-aos="fade-right" class="card">
      <div class="card-body">
        <h5 class="card-title">Zero hassle entry to places which are always booked. </h5>
        <div class="img-container">
          <p class="card-text">Do not worry about not getting reservations ever again,<br> we're solving for it (*wink).</p>
          <img class="card-image" src="../../assets/icons8-event-accepted-80.png" alt="">
        </div>
      </div>
    </div>

    <div data-aos="fade-left" class="card">
      <div class="card-body">
        <h5 class="card-title">Ever wanted to become a CREATOR or INLFUENCER? </h5>
        <div class="img-container">
          <p class="card-text">We will help you soft launch your career as an internet personality.</p>
          <img class="card-image" src="../../assets/icons8-influencer-64.png" alt="">
        </div>
      </div>
    </div>
  </div>

<img class="melon" src="../../assets/halfmelon.png" alt="">
<img class="mint" src="../../assets/mint.png" alt="">
<img class="arrows" src="../../assets/arrow-1.png" alt="">

<br><br>

<img class="wave" src="../../assets/wave.svg" alt="">


<div class="outermost-container">
<div class="second-container">
  <h1 class="heading-major">How it works?</h1>
  <p class="major-paragraph">We believe that every induvidual is unique and together we tap into your potential to grow into something beautiful</p>
</div>

<br> <br><br><br>

<div class="grandparent-container">
  <div class="parent">
    <div class="div1 imgcontainer">
      <img class="scroll" src="../../assets/icons8-apply-80.png" alt="">
    </div>

    <div class="div2">
      <div class="timeline-container">
        <div class="scroll-line" id="scroll-line"></div>
        <div class="scroll-line2" id="scroll-line2"></div>
      </div>
    </div>

    <div class="div3">
      <div class="card one">
      <div class="card-body">
        <h5 class="card-title-scroll">Get verified</h5>
        <p class="card-text">Set your profile public, follow us on Instagram, Once verified, you get a Slurp score.</p>
      </div>
    </div>
    </div>

    <div class="div4">
      <div class="card one">
        <div class="card-body">
          <h5 class="card-title-scroll">Apply now</h5>
          <p class="card-text">Check the terms and conditions, finish the questionnaire and join the waitlist.</p>
        </div>
      </div>
    </div>

    <div class="div5 imgcontainer">
      <img class="scroll" src="../../assets/icons8-paper-30.png" alt="">
    </div>

    <div class="div6 imgcontainer">
      <img class="scroll" src="../../assets/icons8-wine-glass-100.png" alt="">
    </div>

    <div class="div7">
      <div class="card one">
        <div class="card-body">
          <h5 class="card-title-scroll">Wine and dine</h5>
          <p class="card-text">Pick any of our partner places, kill it, pay the bill.</p>
        </div>
      </div>
    </div>

    <div class="div9 imgcontainer">
      <img class="scroll" src="../../assets/icons8-upload-80.png" alt="">
    </div>

    <div class="div8">
      <div class="card one">
        <div class="card-body">
          <h5 class="card-title-scroll">Give a shoutout</h5>
          <p class="card-text">Give our partner a shoutout via posting a photo or a reel and tag us and the brand.</p>
        </div>
      </div>
    </div>

    <div class="div10 imgcontainer">
      <img class="scroll" src="../../assets/icons8-billing-100.png" alt="">
    </div>

    <div class="div11">
      <div class="card one">
        <div class="card-body">
          <h5 class="card-title-scroll">Get cashbacks</h5>
          <p class="card-text">Get cashback based on your SLURP score.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="apply-container">
  <p class="heading">JOIN THE WAITLIST TODAY!</p>
  <button type="button" class="btn btn-success">APPLY NOW</button>
</div>
</div>

<img class="reverse-wave" src="../../assets/reverse-wave.svg" alt="">
