<div class="container">
    <div class="center-container">
      <img class="pizza" src="../../assets/pizza.png" alt="">
      <img class="watermelon" src="../../assets/watermelon.png" alt="">
      <img class="burger" src="../../assets/burger.png" alt="">
      <div class="logo-motto-container">
        <img class="logo" src="../../assets/5.png" alt="">
        <p class="motto">Sxwzvj jccxgwevf lf xvkr</p>
        <div class="buttons">
          <button routerLink="influencer" type="button" class="btn btn-primary button">Creator</button>
          <button routerLink="brands" type="button" class="btn btn-primary button">Brands</button>
        </div>
      </div>
      <img class="fastfood" src="../../assets/fast-food.png" alt="">
      <img class="almond" src="../../assets/almond.png" alt="">
      <img class="chinese-food" src="../../assets/chinese-food.png" alt="">
      <img class="soda" src="../../assets/soda.png" alt="">
      <img class="icecream" src="../../assets/icecream.png" alt="">
      <img class="taco" src="../../assets/taco.png" alt="">
    </div>
</div>


